.NavBarStyle{
    margin: 20px;
    font-weight: bold;

}
#selectionContainer{
    display: flex;
    align-items: flex-start;
}
#selectionStyle{
    display: flex;
    flex-direction: column;
}
#h1Text{
    margin: 10px 0px 3px 4px;
    font-size: 1rem;

}

.selectListStyle{
    margin-bottom: 10px;
}
.tableHeaderStyle{
    margin: 20px;
}

.bottomPanelItems > tbody > tr > td{
    max-width: 80px;
    overflow: hidden;
    padding: 0 0 0 12rem;
}
.bannerImg {
    display: flex;
    /* margin-left: auto;
    margin-right: auto; */
    width: 5%;
}